.advantage{
    min-height: 470px;
    padding: 70px 0 80px 0;
    background-color: #F6F6F6;
    &__content{
        display: flex;
        justify-content: space-between;
        margin-top: 68px;
    }
    &__item{
        display: block;
        width: 280px;
        text-align: center;
        &__title{
            margin-top: 45px;
            color:#0D0D0D;
            font-size: 18px;
            font-weight: 600;
        }
        &__descr{
            color:#0D0D0D;
            font-size: 14px;
            font-weight: 400;
            margin-top: 20px;
            span{
                color:#FF0000;
                text-transform: uppercase;
            }
        }
    }
}